<a href="https://colab.research.google.com/github/AnishaBasil/FinalStreamlit/blob/main/Deployment_of_E2E_Data_Process_with_Streamlit_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1. Upload packages**

In [ ]:
import pandas as pd 
!pip install sweetviz 
import sweetviz 
import sweetviz as sv
!pip install pandas_profiling

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns



---

**2. Upload csv files**

In [ ]:
hospitaldf = pd.read_csv('https://raw.githubusercontent.com/hantswilliams/AHI_DataSci_507/main/Deployment_Streamlit/hospital_info.csv')
hospitaldf

In [ ]:
outpatientdf = pd.read_csv('https://raw.githubusercontent.com/hantswilliams/AHI_DataSci_507/main/Deployment_Streamlit/outpatient_2015.csv')
outpatientdf

In [ ]:
inpatientdf = pd.read_csv('https://raw.githubusercontent.com/hantswilliams/AHI_DataSci_507/main/Deployment_Streamlit/inpatient_2015.csv')
inpatientdf



---

**3. lengths for primary dataframes**

In [ ]:
print ('hospital_info:' , len(hospitaldf))
print ('outpatient_info:' , len(outpatientdf))
print ('inpatient_info:' , len(inpatientdf))

hospital_info: 5314
outpatient_info: 32532
inpatient_info: 201876



---

**4. List rows of all datasets**

In [ ]:
list (hospitaldf)

In [ ]:
list (outpatientdf)

In [ ]:
list (inpatientdf)



---

**5. Clean data**

In [ ]:
outpatientdf2 = outpatientdf.dropna()
outpatientdf2.sample(25)

In [ ]:
inpatientdf2 = inpatientdf.dropna()
inpatientdf2.sample(25)



---

**6. Removing and confirming null values in hospital dataset**

In [ ]:
list(hospitaldf)

In [ ]:
newhospitaldf1 = hospitaldf[hospitaldf['safety_of_care_national_comparison'].notna()] 
newhospitaldf1['safety_of_care_national_comparison'].isna().sum()

0

In [ ]:
newhospitaldf2 = hospitaldf[hospitaldf['readmission_national_comparison'].notna()]
newhospitaldf2['readmission_national_comparison'].isna().sum()

0

In [ ]:
newhospitaldf3 = hospitaldf[hospitaldf['effectiveness_of_care_national_comparison'].notna()] 
newhospitaldf3['effectiveness_of_care_national_comparison'].isna().sum()

0

In [ ]:
newhospitaldf4 = hospitaldf[hospitaldf['mortality_national_comparison'].notna()] 
newhospitaldf4['mortality_national_comparison'].isna().sum()

0



---

**7. Combine dataframes**

*(concat function for the same columns)*

In [ ]:
hospital_merged1 = pd.concat([newhospitaldf1,newhospitaldf2])
hospital_merged1.sample(25)

In [ ]:
hospital_merged2 = pd.concat([newhospitaldf3,newhospitaldf4])
hospital_merged2.sample(25)

In [ ]:
hospital_final3 = pd.concat([hospital_merged1,hospital_merged2])
hospital_final3.sample(25)



---

**8. Prepare for merge** 

*(change 'provider_id' to a string for all datasets)*

In [ ]:
inpatientdf2['provider_id'] = inpatientdf['provider_id'].astype(str)
hospital_final3['provider_id'] = hospitaldf['provider_id'].astype(str)
outpatientdf2['provider_id'] = outpatientdf['provider_id'].astype(str)



---

**9. Merge new hospital dataframe to  outpatient dataframe**

*(merge function for different columns)*

In [ ]:
outpatient_hospital = outpatientdf2.merge(hospital_final3, how = 'left', left_on='provider_id', right_on='provider_id')
outpatient_hospital.sample(25)

In [ ]:
inpatient_hospital = outpatientdf2.merge(hospital_final3, how = 'left', left_on='provider_id', right_on='provider_id')
inpatient_hospital.sample(25)



---

**10. Stonybrook Analysis**

In [ ]:
SBUinfo = hospitaldf[hospitaldf['hospital_name'] == 'SUNY/STONY BROOK UNIVERSITY HOSPITAL']
SBUinfo

- ###### provider_id = 330393
- ###### hospital_type = Acute Care 
- ###### hospital_ownership = Government - state
- ###### emergency_services = yes
- ###### hospital_overall_rating = 4
- ###### mortality_national_comparison = above national average
- ###### safety_of_care_national_comparison = above national average
- ###### readmission_national_comparison = below national average
- ###### patient_experience_national_comparison = below national average
- ###### effectiveness_of_care_national_comparison = same as national average
- ###### timeliness_of_care_national_comparison = below national average
- ###### efficient_use_of_medical_imaging_national_comparison = same as national average

In [ ]:
sb_inpatient = inpatientdf[inpatientdf['provider_id'] == 500019]
sb_inpatient

In [ ]:
NY_info = hospitaldf[hospitaldf['state'] == 'NY']
NY_info.sample(7)

     provider_id  ...                               location
123       330201  ...   POINT (-73.934072 40.65892900000001)
1463      330246  ...   POINT (-73.05983200000001 40.947392)
133       330013  ...            POINT (-73.77386 42.653254)
992       330267  ...           POINT (-73.893601 41.291457)
2923      330144  ...            POINT (-77.278553 42.37297)
1547      330229  ...  POINT (-79.333617 42.480106000000006)
2012      331314  ...           POINT (-77.059591 42.670468)

[7 rows x 29 columns]

In [ ]:
NY_inpatient = inpatientdf[inpatientdf['provider_state'] == 'NY']
NY_inpatient.sample(4)

        provider_id  ... average_medicare_payments
93060        330273  ...                   4761.36
200315       330340  ...                   8527.64
143795       330394  ...                   6310.44
31455        330245  ...                  10775.44

[4 rows x 12 columns]

In [ ]:
NY_outpatient = outpatientdf[outpatientdf['provider_state'] == 'NY']
NY_outpatient.sample(4)

       provider_id  ... average_total_payments
18415       330307  ...             200.438907
13800       330211  ...             777.870526
9514        330005  ...             806.649459
324         330239  ...             469.910204

[4 rows x 11 columns]



---



---

# **Questions**

1. What are the most common hospital types and where does New York rank in regards to timeliness of care?
2. Which states have the greatest number of inpatient and outpatient facilities?
3. What is Stony Brook's top 3 and bottom 3 inpatient DRG service?
4. What are the top 3 expensive APC for SBU Hopsital?
5. What is the difference between the total payment of Stony Brook Hospital compared to st. charles hospital?
6. How does New York's mortality rate compare with North Carolina?

In [ ]:
display(hospital_type_df)

                        hospital type    total # of hospitals
0                Acute Care Hospitals                    3256
1           Critical Access Hospitals                    1355
2                         Psychiatric                     573
3                           Childrens                      95
4  Acute Care - Department of Defense                      35

In [ ]:
df_Hospital['hospital_type'].unique()

array(['Acute Care Hospitals', 'Critical Access Hospitals', 'Childrens',
       'Psychiatric', 'Acute Care - Department of Defense'], dtype=object)

In [ ]:
hospital_type_df = pd.value_counts(df_Hospital['hospital_type'])
hospital_type_df = pd.DataFrame(hospital_type_df)
hospital_type_df = hospital_type_df.reset_index()
hospital_type_df.columns = ['hospital type', '  total # of hospitals']

In [ ]:
def load_hospitals(allow_input_mutation=True):
    df_hospital_1 = pd.read_csv('https://raw.githubusercontent.com/hantswilliams/AHI_STATS_507/main/Week13_Summary/output/df_hospital_2.csv')
    return df_hospital_1


def load_inatpatient(allow_input_mutation=True):
    df_inpatient_1 = pd.read_csv('https://raw.githubusercontent.com/hantswilliams/AHI_STATS_507/main/Week13_Summary/output/df_inpatient_2.csv')
    return df_inpatient_1


def load_outpatient(allow_input_mutation=True):
    df_outpatient_1= pd.read_csv('https://raw.githubusercontent.com/hantswilliams/AHI_STATS_507/main/Week13_Summary/output/df_outpatient_2.csv')
    return df_outpatient_1

In [ ]:
df_hospital_1 = load_hospitals()
df_inpatient_1 = load_inatpatient()
df_outpatient_1 = load_outpatient()

In [ ]:
ny_hospitals = df_hospital_1[df_hospital_1['state'] == 'NY']

nc_hospitals = df_hospital_1[df_hospital_1['state'] == 'NC']

In [ ]:
import pandas as pd
import plotly.express as px
import pandas as pd
import numpy as np
import time
import matplotlib.pyplot as plt
import plotly.graph_objects as go
import plotly

In [ ]:
import os
import glob
import pandas as pd

Merged dataset and cleaning

In [ ]:
df_Outpatient
df_Hospital['provider_id'] = df_Hospital['provider_id'].astype(str)
df_Outpatient['provider_id'] = df_Outpatient['provider_id'].astype(str)
df_merged = df_Outpatient.merge(df_Hospital, how='left', left_on='provider_id', right_on='provider_id')
df_merged.sample(10)

      provider_id  ...                               location
22945      310015  ...           POINT (-74.464855 40.787896)
9213       340116  ...           POINT (-81.337778 35.737175)
12123       70036  ...                                    NaN
9489       300019  ...           POINT (-72.290725 42.949854)
25333       40088  ...                                    NaN
14665      420053  ...           POINT (-81.604915 34.289433)
3525       220075  ...           POINT (-71.070521 42.362861)
9612       330163  ...            POINT (-78.671075 43.17638)
10324      450211  ...  POINT (-94.742481 31.337324000000002)
14237      380001  ...           POINT (-121.16547 45.587948)

[10 rows x 39 columns]

In [ ]:
df_merged_clean = df_merged[df_merged['hospital_name'].notna()]
df_merged_clean.sample(15)

      provider_id  ...                       location
17565      340017  ...   POINT (-82.468153 35.320814)
12449      120028  ...                            NaN
19644      440144  ...   POINT (-86.230533 35.382921)
4408       310041  ...    POINT (-74.21449 39.965083)
12620      140288  ...    POINT (-88.01022 41.819137)
22109      150177  ...   POINT (-86.176781 41.700723)
1846       380051  ...  POINT (-123.033146 44.932887)
11815      520116  ...   POINT (-88.699014 43.199903)
12824      200009  ...   POINT (-70.275104 43.652193)
14077      360109  ...   POINT (-81.847577 40.270442)
4214       340061  ...   POINT (-79.051894 35.903551)
1336       280013  ...                            NaN
13407      260141  ...                            NaN
20195      520051  ...   POINT (-87.879139 43.061411)
14108      360147  ...   POINT (-81.464717 39.431621)

[15 rows x 39 columns]

In [ ]:
print('dfOut: ', len(df_Outpatient))
print('dfHos: ', len(df_Hospital))

dfOut:  32532
dfHos:  5314

In [ ]:
final_df_comparison = pd.concat([df_merged_clean_SCH, df_merged_clean_SB])
final_df_comparison.sample(10)
final_df_comparison.pivot(index=['hospital_name'], columns='apc', values='average_total_payments')

apc                                   0020 - Level II Excision/ Biopsy  ...  0690 - Level I Electronic Analysis of Devices
hospital_name                                                           ...
SUNY/STONY BROOK UNIVERSITY HOSPITAL                           948.683  ...                                      38.450476

[1 rows x 13 columns]

In [ ]:
average_total_payments = pd.value_counts(final_df_comparison['hospital_name'])
average_total_payments = pd.DataFrame(average_total_payments)
average_total_payments = average_total_payments.reset_index()
average_total_payments.columns = ['hospital_name', 'average_total_payments']

In [ ]:
dims = (8, 10)
fig, ax = plt.subplots(figsize=dims)

ax=sns.barplot(y=index,x=values,palette='GnBu_d')
ax.set(xlabel='Total number of Acute Care hospitals with 1 rating', ylabel='states')

[Text(0, 0.5, 'states'),
 Text(0.5, 0, 'Total number of Acute Care hospitals with 1 rating')]

In [ ]:
S_A_1=State_acute_1['state'].value_counts()
index=S_A_1.index
values=S_A_1.values
values

array([46, 27, 24, 11, 10,  9,  8,  8,  7,  6,  6,  5,  5,  5,  4,  4,  4,
        4,  4,  3,  3,  3,  2,  2,  2,  2,  2,  1,  1,  1,  1,  1,  1])

In [ ]:
State_acute_1=df_Hospital.loc[(df_Hospital["hospital_type"]=="Acute Care Hospitals") & (df_Hospital["hospital_overall_rating"]=="1"),["state"]]
State_acute_1.head()

  state
0    NJ
1    NJ
2    PA
3    TN
4    NY

In [ ]:
df_merged_clean_SB = df_merged_clean[df_merged_clean['hospital_name'] == 'SUNY/STONY BROOK UNIVERSITY HOSPITAL']
df_merged_clean_SB
df_merged = df_Outpatient.merge(df_Hospital, how='left', left_on='provider_id', right_on='provider_id')
df_merged_clean_SCH = df_merged_clean[df_merged_clean['hospital_name'] == 'ST CHARLES HOSPITALS']
df_merged_clean_SCH

Empty DataFrame
Columns: [provider_id, provider_name, provider_street_address, provider_city, provider_state, provider_zipcode, apc, hospital_referral_region, outpatient_services, average_estimated_submitted_charges, average_total_payments, hospital_name, address, city, state, zip_code, county_name, phone_number, hospital_type, hospital_ownership, emergency_services, meets_criteria_for_meaningful_use_of_ehrs, hospital_overall_rating, hospital_overall_rating_footnote, mortality_national_comparison, mortality_national_comparison_footnote, safety_of_care_national_comparison, safety_of_care_national_comparison_footnote, readmission_national_comparison, readmission_national_comparison_footnote, patient_experience_national_comparison, patient_experience_national_comparison_footnote, effectiveness_of_care_national_comparison, effectiveness_of_care_national_comparison_footnote, timeliness_of_care_national_comparison, timeliness_of_care_national_comparison_footnote, efficient_use_of_medical_imaging_national_comparison, efficient_use_of_medical_imaging_national_comparison_footnote, location]
Index: []